#modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: blue;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

#modal-background {
  border: 1px solid red;
  width: 200px;
  height: 200px;
}

#modal-content {
  border: 1px solid green;
  width: 200px;
  height: 200px;
}
